[2020-09-04 14:16] Kavantix opened #1 "Add sliver that limits crossAxisExtent"
Should have these constructor properties:
- maxCrossAxisExtent
- alignment (perhaps just a double between -1 and +1

[2020-09-04 14:21] Kavantix opened #2 "Add SliverStack"
A widget that stacks its children just like the Stack widget.

Must have:
- [x] list of children
- [x] size depends on children

Nice to have:
- [ ] alignment of children
- [x] using positioned children

[2020-09-04 14:23] Kavantix opened #3 "Add SliverAnimatedSwitcher"
A widget that animates (by default fade) between child widgets when they get swapped

Should be able to use the AnimatedSwitcher widget together with SliverStack (#2)

[2020-09-04 14:31] Kavantix opened #4 "Add more tests for MultiSliver"
Test covering:
- [ ] Single child
- [ ] Switching from single child and back
- [ ] CupertinoSliverRefreshControl
- [ ] SliverPersistentHeader
- [ ] SliverFillRemaining
- [ ] SliverList
- [ ] SliverGrid
- [ ] Nested MultiSlivers

[2020-09-07 19:33] #2 closed

[2020-09-07 19:33] #3 closed

[2020-09-11 20:06] Kavantix opened #8 "Add ability to use a padding value for maxCrossAxisExtent"
Future work: Add ability to use a padding value

_Originally posted by @Kavantix in https://github.com/Kavantix/sliver_tools/pull/7#discussion_r487062862_

[2020-09-11 20:06] #1 closed

[2020-09-19 07:38] Kavantix commented on #8
Closed by #9

[2020-09-19 07:38] #8 closed

[2020-09-23 20:38] Kavantix opened #10 "SliverEstimatedExtent"
Add a sliver that only lays its child out if there is cache extent to be filled and otherwise uses a given estimate for its geometry

Questions:
- How to give the estimate, might be useful to use a prototype child (that is cheap to layout)
- Should we use the estimate when it is completely scrolled past the leading edge
- Should the child build even if it will not be layed out

[2020-09-24 11:42] Kavantix opened #11 "SliverFloatingHeader"
A sliver that acts like a `SliverToBoxAdapter` when the user scrolls towards the leading edge but acts like a pinned header when the user scrolls back

**Requirements:**

- [ ] Size of header is determined by its child
- [ ] The header scrolls back interactively

**Questions:**
- What should the behavior be when multiple of these headers are added to a viewport
- What if this is combined with a re

[2020-10-01 19:43] obiwanzenobi commented on #11
I found a widget that acts like you described: https://gist.github.com/tomaszpolanski/cf0edb7961d2304c2f293da9971cd4c9

[2020-10-01 20:39] Kavantix commented on #11
@obiwanzenobi thanks for linking that gist.
I think I already looked at this one, it indeed might be a good starting point.
Can I assume you are looking for a widget with this behavior?
If so do you perhaps have input on the two questions I posed?

[2020-10-05 11:29] awanishraj opened #12 "Touch input not working in SliverPinnedHeader"
Touch inputs are working initially, but when the header is pinned to the leading-edge, touch inputs are ignored.

[2020-10-05 11:47] awanishraj commented on #12
Add these lines in RenderSliverPinnedHeader class

[code]

[2020-10-05 12:11] #12 closed

[2020-10-05 12:13] Kavantix commented on #12
Thanks for submitting the issue!
The problem turned out to be that `RenderSliverSingleBoxAdapter` by default sets its childMainAxisPosition to the scrollOffset which is not what is needed here
(So the hitTestChildren part is already correctly supplied by the parent)

[2020-10-07 13:59] jamesblasco opened #14 "Rename children params to slivers for widgets that need to have a RenderSliver"
First, thanks for this amazing package.

Slivers are a very powerful set of Widgets and this package makes it even more incredible.

I would like to suggest to rename the params `children` and `child` in the sliver widgets of this library to `slivers` and `sliver`.

Inside the Flutter framework, the widgets that only accept slivers use that name convention to indicate a normal widget should not be

[2020-10-07 14:00] Kavantix commented on #14
Thanks for the suggestion.

[2020-10-07 14:12] Kavantix commented on #14
Thanks for the suggestion.
However, naming them child/children was a conscious decision (I even had them as sliver/slivers at first).
The tooling used for wrapping with and removing widgets can only deal with child/children so having sliver/slivers breaks these function which can be quite annoying when developing in flutter.
Also, my SliverStack widget actually accepts both slivers and box childre

[2020-10-07 14:22] jamesblasco commented on #14
Nice to hear your point of view 🙂

I also hope in the future SliverToBoxAdapter is not needed and slivers become more flexible to use other widgets.

Leaving my personal experience here, for all custom widgets that contain a RenderSliver I add the prefix Sliver in the class name. The params that need to be a widget that contains a RendersSliver I called them `Widget sliver`.

I completely understa

[2020-10-09 17:46] remonh87 opened #15 "Hittest does not work for SliverPositioned in combination with sliverstack"
I create the following unit test with a working scenario and a failing one: https://gist.github.com/remonh87/bd6d8583e70955b23f2fdccfb390a9b3

When I try to app on a child of the SliverPositioned it does not react on the ontap. I did some debug printing and noticed that the hittest is not by the positioned in my example and will be passed through to the slivertoboxadapter.

Expected behaviour: onT

[2020-10-09 21:43] #15 closed

[2020-10-09 21:44] Kavantix commented on #15
Thanks for submitting!
Should be fixed in 0.1.7

[2020-10-10 06:53] remonh87 commented on #15
Thank you for the quick fix will test it today!

[2020-10-27 16:55] phimath opened #18 "pushPinnedChildren with nested MultiSliver"
I'm trying to create nested slivers with sticky headers.  What I have is close, but I want only 1 'Main Section' to be stuck to the top, so that when Main Section#1 hits #0, it pushes #0 off screen.
![nested_multisliver](https://user-images.githubusercontent.com/8144851/97334319-d921b700-1839-11eb-93d3-2823c257bb11.gif)

Any idea how to achieve this?

I have `pushPinnedChildren: true` for both `Mu

[2020-10-27 17:16] Kavantix commented on #18
Hey great to see you’re using my package!

But looking at the code I think it’s simply that the for loop is in the wrong place. It should be outside the first multisliver.
The pushPinnedChildren makes sure that any children that are pinned will stay contained within the MultiSliver, but in your current code that multisliver has nothing after it (so indeed it cannot contain any children)
By moving

[2020-10-27 17:32] phimath commented on #18
Yep, that fixed it, and the why makes sense. Thank you very much!

[2020-10-27 17:32] #18 closed

[2020-11-07 08:38] wuweijian1997 opened #19 "Emm,,How to learn sliver?"
Are there any article or tutorials?..

[2020-11-07 09:38] Kavantix commented on #19
What exactly do you want to learn/read about?

[2020-11-07 09:56] wuweijian1997 commented on #19
...
Custom sliver widget like you sliver_tools.

[2020-11-07 10:02] Kavantix commented on #19
You want to learn how to build your own custom sliver widget?
Then take a look at [slivers demystified](https://medium.com/flutter/slivers-demystified-6ff68ab0296f). And you can also look at the code of already existing slivers like in flutter itself and my package to try understand how they work.

[2020-11-07 10:05] wuweijian1997 commented on #19
Thank you.

[2020-11-07 10:05] #19 closed

[2021-01-05 11:16] volser opened #20 "SliverPinnedFooter"
Is it possible to implement SliverPinnedFooter?

[2021-01-05 11:37] Kavantix commented on #20
Can you elaborate on how this widget should work?

[2021-01-05 12:03] volser commented on #20
the same as header, but pin at the bottom next header in the list

[2021-01-05 12:04] volser commented on #20
actually, I have a reversed list and need to implement pinned header, but for reversed list it works like footer :-)

[2021-01-05 12:09] volser commented on #20
in this demo https://raw.githubusercontent.com/Kavantix/sliver_tools/master/gifs/demo2.gif
"Next button" should be pinned to the bottom if list is longer than screen

[2021-01-05 12:20] Kavantix commented on #20
Hmm ok
And what if there are multiple?
I guess only 1 should be visible?

[2021-01-05 12:45] volser commented on #20
yes, only 1, the same as header, but reversed logic, when scroll up, prev (I mean footer above) footer should shift next (footer below)

[2021-01-05 20:31] volser opened #21 "SliverVisibilityDetector"
like this one https://pub.dev/packages/visibility_detector (or this https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)
but for sliver (with better performance and without delay if possible)

use case: highlight some links/buttons/sections if SliverList is in viewport while scrolling

[2021-01-06 11:20] Kavantix commented on #21
This is probably out of scope for this library.
Perhaps you could try using `SliverLayoutBuilder` for this purpose?

[2021-01-06 11:27] Kavantix commented on #20
That does complicate things somewhat since they would need to communicate with each other in order to achieve this within the current flutter sliver implementation.
Possibly it would even need a parent inherited widget above the viewport to make this work.

Thanks for the suggestion though, I'll put it on the project but I won't have time to work on this in the near future, feel free to make a PR

[2021-01-20 08:05] Kypsis opened #22 "MultiSliver changes from 0.1.9 to 0.1.10 break passing proper contraints to children."
Changes from 0.1.9 to 0.1.10 break passing constraints to children:

[code]

In 0.1.9 the SliverFillRemaining correctly filled the remaining space in the list if there are not enough items in the list to allow for the Multisliver to expand and fill the viewport in a CustomScrollView that already has a preceding flexible SliverAppBar. Or more succinctly 0.1.10 changes caused the child of SliverFill

[2021-01-20 09:40] Kavantix commented on #22
I cannot reproduce your issue.
Could you provide a complete and minimal example?

[2021-01-20 12:49] Kypsis commented on #22
Parent widget would be:
[code]

And ExampleAppBarWidget:
[code]

[2021-01-20 14:36] Kavantix commented on #22
Using your code and having the child as a simple container:
[code]
I get this result when setting the fillremaining to blue so it seems to work
![Simulator Screen Shot - iPhone 12 - 2021-01-20 at 15 33 41](https://user-images.githubusercontent.com/6243755/105189080-e1d21280-5b34-11eb-81fe-9c0c237ed5eb.png)

Are you using `0.1.10+1`?

[2021-01-20 14:53] Kypsis commented on #22
Now Imagine scrolling up so the appbar collapses: the red gets smaller, and the blue gets proportionally bigger. In 1.0.9 that was the behaviour if you didn't specify height to the Container (or SizedBox). In 1.1.10+1 the blue part wont resize so the appbar is not collapsable. You could give a scrollbody to the SliverFillRemaining but then the blue part would be viewport height, and the green list

[2021-01-20 15:46] Kavantix commented on #22
Sadly I must tell you that the behaviour 0.1.9 had was actually incorrect.
The current version behaves the same as if you didn't place the widgets inside a MuliSliver but directly inside the CustomScrollView.

I do actually have an adapted version of SliverFillRemaining in my private code (it's not open source ready) that allows you to specify a minimum amount of scroll that the SliverFillRemainin

[2021-01-20 17:46] Kypsis commented on #22
Yes I would be very interested to see that. Feel free to mail me: _puhhbaer@hotmail.com_ and let's see if and how I can contribute.

[2021-01-23 11:13] Kavantix commented on #22
I have emailed you the current version of the SliverFillRemainingWithMinimum widget
If you agree that it solves this issue we should start on a PR to add it to the package

[2021-01-23 11:15] Kavantix commented on #21
I’m closing this issue as I feel it is out of scope, if you disagree feel tree to comment and I’ll reopen it

[2021-01-23 11:15] #21 closed

[2021-01-23 11:17] Kavantix commented on #14
I have pinned this such that it can be closed but will stay easy to find

[2021-01-23 11:17] #14 closed

[2021-02-06 14:05] EdsonBueno opened #23 "Migration to Null Safety"
With Null Safety increasing in popularity, it would be great to have this package migrated.

[2021-02-10 22:14] Kavantix commented on #23
I've done the migration but haven't tested it yet.
If you want you can take a look at the `nullsafety` branch I pushed the migrated code there.
I don't expect any issues with it, since the migration was fairly straightforward (and even fixed 2 very tiny edgecases)

[2021-02-26 05:23] venkatd commented on #23
@Kavantix

It's possible that a few parts were missed. I tried running with the following in my pubspec.yaml:

[code]

One error I get for example is:
../../../flutter/.pub-cache/git/sliver_tools-c3529eb47c69d893ddcb270ca993d9861a17cb1c/lib/src/sliver_stack.dart:516:9: Error: Non-nullable variable 'minPaintOrigin' must be assigned before it can be used.

This is because there are some lines of non

[2021-02-26 08:12] Kavantix commented on #23
Thanks for testing @venkatd, it seems I incorrectly put a `!` hint for the migration tool and it did not complain that it would not work.
`minPaintOrigin` should actually be nullable there.

I've updated the branch, would be really appreciated if you could test it again 😃

[2021-02-26 14:32] venkatd commented on #23
Hi @Kavantix here is what I get with SliverStack during running of my app:

[code]

Seems like a timing issue where paintOffset is used before it soon gets initialized.

This is related to the
[code]

When does paintOffset get initialized and where is it used? Some ideas:
- If it doesn't break the code could declare as `Offset paintOffset = Offset.zero`
- Rewrite as a nullable var like `Offset? pa

[2021-02-26 15:14] Kavantix commented on #23
Yeah null was fine before indeed, but zero is the nicer option using nnbd.
Should be fixed now.

Thanks again for testing!, let me know if you find anything else :)

[2021-02-26 15:39] venkatd commented on #23
All working for me now! And thank YOU for the SliverStack widget, it has been very helpful for implementing our task manager feature.

We are only using SliverStack so I can't confirm if the other widgets have any issues. Will let you know if I run into any issues with SliverStack.

[2021-03-04 12:03] jseminck opened #24 "Floating point rounding warning"
Hi,

I'm seinng an issue where the `remaingPaintExtent` and the `paintOrigin + paintExtent` are different based on some rounding errors with the MultiSliver component. The issue appeared when adding a `CupertinoSliverRefreshControl` to a `MultiSliver` and it happens during the swipe up experience. I don't have an easy example at hand but if necessary could try to create one.

The issue happens som

[2021-03-04 12:07] Kavantix commented on #24
@jseminck thanks for reporting this!
If you have a minimal reproducible example that would be very helpful.

However, from you logs I see that it is indeed simply a rounding error like the error message says.
The problem is that that rounding error is hard to fix, it can even happen if I set the paintOrigin to 0 and the paintExtent to constraints.remainingPaintExtent (so they should be identical)

[2021-03-04 12:12] jseminck commented on #24
Hey, thanks for the quick reply. In our app it is reproduced every time when swiping up using the `CupertinoSliverRefreshControl` component inside a `MultiSliver`. So if I manage to extract and simplify this then it should help. I'll do my best to set up a minimum reproducible example over the weekend.

[2021-03-05 22:31] Kavantix commented on #23
I published a preview version to pub `0.2.0-nullsafety`, since all tests pass it should work as expected

[2021-03-06 06:50] jseminck commented on #24
I created a small example application here: https://github.com/jseminck/multisliver-example-app

FYI: the sliver tools version is fixed to 0.1.9 because we also have an issue with the upgrade to 0.1.10. I explained that issue as well in the README. It's something we eventually need to tackle as well. We have a custom widget that works together with `MultiSliver` but some changes in the latest vers

[2021-03-06 08:23] EdsonBueno commented on #23
I tested it and everything looks fine @Kavantix
Thank you

[2021-03-06 09:11] Kavantix commented on #24
Thanks! i’ll take a look to the code later today.
as for the version change, 0.1.9 had incorrect behavior so you should definitely use the latest version.
What was breaking for you was probably that I did not correctly pass the `preceedingScrollExtent` to the children of the `MultiSliver`, so your custom widget should also not work as you intend if it’s not inside a `MultiSliver`.

[2021-03-06 09:25] Kavantix commented on #24
Btw, for the behavior you describe you should be able to simply use a normal `SliverFillRemaining`. The default one that has `hasScrollBody` as true will simply always fill the entire `remainingPaintExtent` or at least be as big as it’s child.

[2021-03-06 12:25] jseminck commented on #24
Thanks for the replies. I actually tried the `SliverFillRemaining` as well but it allows me to scroll past the current content, which our custom widget does not allow. I'm still fairly new to Flutter and building on top of some of the things my team did, so still also trying to wrap my head around the whole Sliver stuff. 😄

It seems the only change we made to `SliverFillRemaining` is to pass an of

[2021-03-06 16:41] jseminck commented on #24
After some more debugging I'm starting to have a feeling our setup may have only worked because of the incorrect behavior in 0.1.9, because in 0.1.10 it doesn't seem to matter at all if I am using a MultiSliver component or not. 😄

[2021-03-06 17:15] Kavantix commented on #24
Yes exactly and that’s how it is supposed to work, as if it was directly in the customscrollview :)
But since in 0.1.9 the precedingScrollExtent is always 0 for the first sliver in the multisliver that should lead you to get your custom one to work ;)

[2021-03-06 18:09] EdsonBueno commented on #23
Now that null safety is stable in Dart, you can release the null safety migration as a stable release (instead of a pre-release) so that the package earns the "Null Safety" badge on pub.dev.
https://dart.dev/null-safety/migration-guide#step5-publish

[2021-03-06 22:13] Kavantix commented on #23
I was just working on some more 'breaking-ish' changes that I wanted to include since I was updating to a new major version anyways.
0.2.0 is now released, enjoy!
And thanks for testing @EdsonBueno @venkatd!

[2021-03-06 22:13] #23 closed

[2021-03-06 22:18] Kavantix commented on #24
The error should no longer occur in the `0.2.0` version I just released.

As for you widget that doesnt work, try using something like this:
[code]

This lets you manipulate the constraints that get passed to the child.
So you could for instance get the old incorrect behaviour by wrapping the `MultiSliver` with one of these and setting the `manipulator` to:
[code]

I might add something like this

[2021-03-06 22:18] #24 closed

[2021-03-07 07:10] jseminck commented on #24
Thank you so much @Kavantix ! I will try this approach as well later today. In the end I figured out something like this also seemed to work: https://github.com/jseminck/multisliver-example-app/pull/1 -- I tried it in our app and found no issues, but I need to discuss it further with the team as well. My approach is a bit more limited though 😄

[2021-03-15 22:13] Peng-Qian opened #25 "SliverPinnedHeader Enhancement"
Hi @Kavantix，

Thx for your awesome package! It makes Sliver more flexible and powerful!

I am wondering if it is possible to introduce more prop to control SliverPinnedHeader.

Such as a position to set where to pin (e.g. pin at the 300px from top) and a controller to control when to pin?

I think this may also solve #20 request

[2021-03-15 22:24] Peng-Qian commented on #14
Personally, I think from an API perspective, sliver/slivers will keep consistency to the Flutter Sliver part, I was confused when I first time see them (I thought it should be normal widgets instead of sliver widget).

But if child/children make the project easy to maintain, I think it is a fair trade-off.

An awesome project really!

[2021-03-16 06:11] Kavantix commented on #25
I’m glad you like the package!

A leadingMargin is something I was already intending to do, if you want it I can see if I can prioritize it a bit more.

The controller part I don’t completely get, how do you have that in mind?

[2021-03-16 21:17] Peng-Qian commented on #25
@Kavantix,

A leading margin will be sufficient for most scenarios. So excited about this feature, can't wait to use that! (Currently, I use CompositedTransformTarget and CompositedTransformFollower with a complicated logic to handle this 😞 )

The controller/pinned is just control if the widget should be pinned, In some cases, we allow the user to choose if something needs to be pinned or not. But

[2021-03-19 10:52] Kavantix commented on #25
Hmm adding the leading margin comes with a few decisions I'm not ready to make atm.
Like should it use the `paintOrigin` to shift itself or simply extend the `paintExtent`.

But @Peng-Qian why do you need the `CompositedTransformTarget` can't you simply use something like:

[code]

[2021-03-21 20:09] Peng-Qian commented on #25
sorry for confusing here, I mean I  have used CompositedTransformTarget with stack to implement a sticker, it can stick to any position but with complex logic... and that is the reason why so happy to find this package~

[2021-03-21 20:13] Peng-Qian commented on #25
In my use case, the widget will only be pinned when it reaches to appbar, and it will be pushed by the next pinned header. Thus, add margin will break UI looking when pinned header does not reach appbar.

[2021-03-21 20:29] Kavantix commented on #25
Still sounds like something you could do with a margin and a multisliver
Take a look at the example app I built, it does something similar I think.
If not you could share some more specific code and I’d be more than happy to help.

After reading your comment again:

Do you mean that if you’d add the margin then it would also be there when it’s not yet pinned and that would not work for your layout

[2021-03-24 10:23] Kavantix commented on #14
In #26 (released as `0.2.1-rc`) I just added RenderBox support to MultiSliver

[2021-03-24 18:15] marcos930807 opened #28 "SliverGeometry has a paintOffset that exceeds the remainingPaintExtent from the constraints."
After upgrade to version 0.2.0, this error Came.(version 0.1.10 Works Great)

This is small repo to reproduce the error.
https://github.com/marcos930807/sliver_demo.
After open de app just Expand "Batidos/Milkshakes" and see console logs.

The Complete Error:
SliverGeometry has a paintOffset that exceeds the remainingPaintExtent from the constraints.
The render object whose geometry violates the c

[2021-03-24 18:43] Kavantix commented on #28
Hey @marcos930807 thanks for filing this with a repro!
It seems my attempt to mute this annoying error has actually triggered it for you.
I’ll be sure to take a look at it.

But in the meantime it’s probably good to know that you can basically ignore this error, as you can see the difference is only a floating point precision issue not an actual error.
But still this should not happen as it is ver

[2021-03-25 21:29] Peng-Qian commented on #25
Yes, The effect more like the following gif, The [flutter_sticky_header](https://pub.dev/packages/flutter_sticky_header) can achieve the effect, but the thing is this package does not support a nested pinned header.

![sticky_header_all](https://user-images.githubusercontent.com/37643086/112545124-b3b2cc80-8e1c-11eb-9d6c-fd425c086a68.gif)

This would work because the pinned header checks the overl

[2021-03-25 21:37] Kavantix commented on #25
Which part do you mean? I don’t really see a part that matches what you told me before

Yes pretty much

[2021-03-25 23:46] Peng-Qian commented on #25
any sticky header on the gif. But in my case, the situation are more complicated.

There are nested scroll views and items can go behind the app bar, which means the scroll view starts at the top of the screen, and the header should be pinned under the app bar. I insert an invisible sliver app bar to achieve the effect with this package(I think that similar to what you talk about). But what I try

[2021-03-26 06:25] Kavantix commented on #25
You should be able to use MultiSliver combined with the pinned header for that.

Perhaps you can share some code?

[2021-03-29 19:52] Kavantix commented on #28
@marcos930807 Could you test using the version of #29

[2021-03-29 20:01] marcos930807 commented on #28
@Kavantix, Sorry the delay was busy, I'm going to test and let you know.

[2021-03-29 20:02] Kavantix commented on #28
No worries we're all busy :) thanks!

[2021-03-29 20:19] marcos930807 commented on #28
Hi @Kavantix the fix work great.
I updated the demo https://github.com/marcos930807/sliver_demo  using the reference #29 as a dependency and the problem go away.
Thanks!!

[2021-03-30 06:18] #28 closed

[2021-04-29 20:06] TatsuUkraine opened #30 "SliverGeometry is not valid: The "maxPaintExtent" is less than the "paintExtent". with MultiSliver usage"
Usage MultiSliver with SliverAppBar leads to exception `SliverGeometry is not valid: The "maxPaintExtent" is less than the "paintExtent".`

[code]

Flutter version: 2.0.5
Device: Android 11 (API 30) (emulator)

[2021-04-29 20:12] Kavantix commented on #30
Hey @TatsuUkraine thanks for filing this.
Seems like an interesting bug indeed, I'll look into it ASAP

Does this affect how it renders or only show the error in the console?

[2021-04-29 20:18] TatsuUkraine commented on #30
Hey. Thank you for quick response) yes it affects. Second MultiSliver just stops moving

[2021-04-29 20:21] TatsuUkraine commented on #30
In more complex example , where I noticed this issue, it looks to me that other content is actually moving during the scroll, except multi sliver that goes just after a small one, but I could be wrong, didn't pay attention a lot) last hour was trying to reproduce this issue with very primitive example that I've sent you))

[2021-04-29 21:14] Kavantix commented on #30
Could you test using PR #31

[2021-04-30 08:53] TatsuUkraine commented on #30
it seems it fixes the issue

[2021-04-30 09:11] Kavantix commented on #30
Just published the fix as 0.2.2

[2021-04-30 09:11] #30 closed

[2021-04-30 10:24] TatsuUkraine commented on #30
thank you for fast reaction)

[2021-05-31 05:50] basketball-ico opened #32 "How to use SliverAnimatedPaintExtent and animated the Scroll position at the same time?"
For example, in a list that has a button to load more, show progress, and then show an error message with retry button, the loading widget is changed to the one with the error message, I would like to scroll to the end to show the complete error message.

without `SliverAnimatedPaintExtent` I can do this
[code]

but if I use the `SliverAnimatedPaintExtent` it only animates a little bit, since the`

[2021-05-31 16:51] Kavantix commented on #32
That’s definitely an interesting question.
I don’t really have a solution for how to get your current approach working at the moment.
But how about changing it a little
For instance instead of showing the error message within the animatedpaintextent put it outside, that way you can scroll to the end immediately.

[2021-05-31 16:52] Kavantix commented on #25
@Peng-Qian have you managed to get it working?

[2021-06-01 07:16] felixjaehn opened #33 "Get if header is currently pinned"
Thank you for this package. I have used this to achieve great results with the extended Sliver functionality. But I would love to ask one thing: Is it currently possible to get information on wether the SliverPersistendHeader is currently pinned or not. I would love to know that, because I then can adjust the header depending on whether the list below is currently visible or not.

And one little b

[2021-06-01 07:22] Kavantix commented on #33
For both questions that’s a no at the moment.
Could you perhaps elaborate (maybe with some code) on what you’re trying to achieve?

[2021-06-01 09:45] felixjaehn commented on #33
![image](https://user-images.githubusercontent.com/31625592/120301933-a8bd6200-c2cd-11eb-8be8-d50cebb0bcdd.png)
I added a picture to visualize the desired behavior. I am currently building a checkout process and would like to achieve that the already completed components are minimized but remain as SliverPersistentHeader. For this it is necessary that I can display the header differently depending

[2021-06-01 11:41] Kavantix commented on #33
Have you tried using the SliverPersistantHeader that is in the flutter framework itself?
That one allows you to build the widget differently depending on the `shrinkOffset`, I think it should be possible to get what you want using that. It does require you to calculate the height of the sliver yourself though

[2021-06-05 04:52] #33 closed

[2021-06-05 04:53] felixjaehn commented on #33
The normal SliverPersistantHeader has been the way to go. Sorry for the confusion!

[2021-06-05 19:09] Kavantix commented on #25
I’m gonna close this issue, if you want me to reopen feel free to comment and I’ll do so

[2021-06-05 19:09] #25 closed

[2021-06-08 14:42] felixjaehn commented on #30
I faced the same Issue again today on the latest version (0.2.4)

https://user-images.githubusercontent.com/31625592/121203605-86e85000-c876-11eb-9283-94907cdfe4ca.mp4

As this weird behaviour is occuring I get the same error message.
"SliverGeometry is not valid: The "maxPaintExtent" is less than the "paintExtent"."

[code]

Flutter version: 2.2.1
This error doesn't occur in release mode

[2021-06-08 15:54] Kavantix commented on #30
@felixjaehn please open a new issue and include a minimal runnable code sample that reproduces the problem

[2021-06-08 16:24] felixjaehn opened #34 "SliverGeometry is not valid: The "maxPaintExtent" is less than the "paintExtent"."
This error occurs when using the MultiSliver.
The following video shows the error:

https://user-images.githubusercontent.com/31625592/121218421-01b76800-c883-11eb-93b8-5a32ac3bff0a.mp4

Code to reproduce this error:

[code]

Flutter 2.2.1
Sliver Tools 0.2.4
Tested on Samsung Device (Android 10)

[2021-06-08 17:49] Kavantix commented on #34
Thanks for filing this!
Could you check if #35 fixes your issue

[2021-06-08 18:08] #34 closed

[2021-06-08 18:09] felixjaehn commented on #34
This indeed fixed the error. Thank you for being that quick!

[2021-06-08 20:17] felixjaehn commented on #2
Wanted to ask a quick question to the SliverStack. How do I position a Positioned Element at the bottom of the Stack. Because when I am using bottom: 0 in the SliverPositioned the item that should be positioned at the bottom stays at the top.

[2021-06-11 12:36] Kavantix commented on #34
Great! The fix is now also released as v0.2.5

[2021-06-11 12:40] Kavantix commented on #32
I'm closing this in the assumption my answer solved your problem, if you have further questions or disagree feel free to comment and I'll reopen this issue.

[2021-06-11 12:40] #32 closed

[2021-06-21 06:29] martipello commented on #22
how did this end?

[2021-06-21 07:43] Kavantix commented on #22
@martipello it wasnt what he needed, feel free to open an issue if you’re running into something

[2021-09-10 02:39] shashkiranr opened #36 "SliverIndexedStack"
Hi Pieter,

Thank you for an amazing plugin. Is it possible to add SliverIndexedStack that works like an IndexedStack but accepts Slivers.

Best,
Shashi

[2021-09-10 09:01] Kavantix commented on #36
Hi @shashkiranr,

Thanks for the compliment and the suggestion!

Adding this widget should not be too difficult but I'm not sure when I'll have time to get to it.
Would you be open to making a PR?

[2021-11-02 14:25] G11Max opened #37 "[DOC] Please Add More example"
Thank you for your great work, please add more ***gif*** and ***code*** ***examples***, maybe I am too stupid, I don’t know what I can do with it

[2021-11-02 14:29] Kavantix commented on #37
@G11Max Do you have an example of something extra you would expect?

Or alternatively, what brought you to the package? Perhaps I can assist in determining if you can use it.

[2021-11-02 16:28] l-7-l commented on #37
@Kavantix  ohhhhhhhhhhhhhhh sorry for the late reply.

I want to achieve the effect of sliding up the feed container of the  [profile page in this link](https://dribbble.com/shots/14179883-Instagram-Redesign-Part-3). It looks like a stack, but I have no idea.

**Before Sliding up/scroll**
![b](https://user-images.githubusercontent.com/20581031/139901396-7c95cf37-8abb-4ac9-aa4a-f9d9933b1171.png)

*

[2021-11-03 07:29] #37 closed

[2021-11-03 09:04] Kavantix commented on #37
@G11Max I guess you figured it out since you closed the issue?

[2021-11-03 10:16] l-7-l commented on #37
@Kavantix not yet....

[2021-12-02 12:37] AlexanderFarkas opened #38 "Could I PR for SliverClipRRect?"
Also, I propose to rename SliverClip to SliverClipRect to align with Flutter naming for Box-based widgets.

[2021-12-02 12:40] Kavantix commented on #38
Hi @AlexanderFarkas yeah sure that would be very welcome

I do want `SliverClip` to stay though at least for now, but feel free to add an alias `SliverClipRect` as well.
Perhaps all of them can be statelesswidgets that give different paths to `SliverClip` or something like that

[2021-12-02 16:52] Kavantix commented on #36
@shashkiranr could you test the widget I introduce in #39

[2021-12-02 16:59] Kavantix commented on #4
I'll add regression tests/ feature tests when changing things

[2021-12-02 16:59] #4 closed

[2022-01-03 12:15] saibotma commented on #20
@Kavantix Would be great if you could elaborate on why the whole thing would get complicated. I want to build the same thing, and I am struggling with it, but I am also new to slivers. Any tips & trick or hints are appreciated.

[2022-01-03 12:17] Kavantix commented on #20
@saibotma could you elaborate a bit more on the exact usecase you are trying to implement because only a subset of usecases would be as complicated as I mentioned

[2022-01-03 12:22] saibotma commented on #20
I am actually trying to have a bottom (tab) bar for navigation, where scrollable content scrolls beneath it. I want to make the bottom bar opaque in order to add a blur filter and create an iOS style frosted glass effect.
Currently, I have implemented it using a Stack. The bottom bar is above the scrolled content and aligned to the bottom. The scrolled content has padding bottom as high as the bot

[2022-01-03 12:35] Kavantix commented on #20
Ah I see, that usecase is indeed quite a bit simpler than what I was talking about since you only have 1 tab bar and thus don't need any logic for having multiple.

However, the part you mention where it should draw on top of the other content makes it rather difficult.
The thing with slivers is that they are painted in the reverse order, this is why a `SliverPinnedHeadere` is painted on top of th

[2022-01-04 09:18] Kavantix commented on #38
@AlexanderFarkas did you manage to make some progress?
Feel free to open a Draft PR if you need any help/advice

[2022-01-12 13:48] musaatalay1 opened #40 "SliverAnimatedSwitcher not working"
Hello, i couldnt run SliverAnimatedSwitcher, can you provide an example usage on Readme so we can understand.

[2022-01-12 16:00] Kavantix commented on #40
Hi @musaatalay1, `SliverAnimatedSwitcher` works the same as the normal `AnimatedSliver` so just give it a child and then change the child to trigger the animation

[2022-01-13 03:49] Afsal102 opened #41 "Sliver stack doesnt render anything"
Tried out sliver stack but it doesnt paint anything in the screen

[2022-01-13 07:46] Kavantix commented on #41
@Afsal102 can you share a minimal example that shows the behavior

[2022-01-20 18:05] Kavantix commented on #41
@Afsal102 gentle reminder

[2022-01-20 18:07] Kavantix commented on #40
I’m gonna assume you managed to get it working.
Otherwise just comment here and I’ll gladly reopen and help

[2022-01-20 18:07] #40 closed

[2022-02-10 20:54] #41 closed

[2022-02-24 00:44] kevin4dhd opened #42 "Is it possible to render a SliverList inside a SliverList?"
Hello, I'm a bit new to this topic of silvers, I'm looking for the following:
I have a CustomScrollView, where its children are a SliverAppBar and a SliverList, I want another SliverList to exist inside the SliverList.
I have tried to do it with this library and without it and neither of the two ways works for me.

![image](https://user-images.githubusercontent.com/22886367/155435234-d87daffe-49f6

[2022-02-25 05:47] ChauCM opened #43 "SliverCrossAxisConstrained but align left?"
This is what I try to do:
![ezgif-2-121711b582](https://user-images.githubusercontent.com/86839861/155660526-175a8143-7767-4565-b458-c6cfc7caf555.gif)
[code]
I try wrap SliverList With A SliverPositioned(top: 0, left: 0, width 700), my sliverList take up the whole screen
I try SliverCrossAxisConstrained(max: 700) then my sliverList stay in the middle.
How can I achieve the UI?

[2022-02-28 10:37] Kavantix commented on #43
You can try using `SliverCrossAxisPadded` and give it a `paddingEnd` of the size of the box you want on the right.

[2022-02-28 10:39] Kavantix commented on #42
Nesting sliver lists is not possible at the moment.
A completely custom sliver would need to be built to support something like this.

For reference, what are the sizes of your outer and inner lists?

[2022-02-28 15:46] kevin4dhd commented on #42
The size of the outer list can be from 1 to 900, the inner list can be from 1 to 300

[2022-02-28 15:55] Kavantix commented on #42
So the list is possibly 270000 items long?
Is the idea that the user scrolls to all of this or do they need to be scrollable on their own?

[2022-03-11 20:03] cgestes opened #44 "Feature request: MultiSliver.builder"
I would like to make a view like the schedule view of a calendar app.

A list view that is infinite in both direction, that can be indexed and that can have sticky header.

I am trying to adapt https://pub.dev/packages/indexed_list_view to support sliver children, I have thinking of returning MultiSliver instead of a SliverFixedExtentList, to be able to put SliverStickyHeader into the indexedlist.

[2022-03-11 20:19] Kavantix commented on #44
Can you elaborate on what you would expect a MultiSliver.builder to be?

[2022-04-09 21:28] doppio opened #45 "SliverFlex"
Hey, thanks for this great package!

I have a vertically scrolling MultiSliver. In wide layouts, I want two of the slivers in the MultiSliver to be arranged horizontally. I initially added them as a standard Row(), but that won't work since each child is a sliver. Is there already a way to do that with this package? If not, would there be any interest in adding something like "SliverRow"/"SliverFl

[2022-04-12 16:51] LucasAschenbach commented on #44
I think he is suggesting to add an option to also provide a sliver builder function instead of the children argument. This is sometimes preferred, or even necessary, as the number of children grows since instantiating all children on the first build can be very expensive or even impossible in case of an infinite list. With a builder each child is only instantiated once it needs to be painted. (Sim

[2022-04-12 17:23] Kavantix commented on #44
@LucasAschenbach thanks for attempting to clarify, however that part I understood. I should have been a bit clearer in my question.

The question I meant was: How would you expect a MultiSliver.builder to work. Because slivers are always built since their position in the list doesn’t necessarily mean that they will be drawn after the item before it. For instance, sticky headers work because they a

[2022-04-12 18:02] cgestes commented on #44
We can close 😁
I did differently. I don't know enough about the subject to understand the issue even less to propose a solution.

[2022-04-12 18:02] #44 closed

[2022-04-27 10:37] Kavantix commented on #45
Hey @doppio sorry for the late response.

I did already have `MultiCrossAxisSliver` on the roadmap but haven't had time to implement or flesh out the idea.

A major open question for me would be, how do we determine the cross axis size of the widget since slivers assume to take op the whole cross axis.

If you have any ideas or interest in making a PR let me know!

[2022-04-27 11:01] Kavantix commented on #43
@ChauCM can you test with PR #47

[2022-04-27 11:04] #43 closed

[2022-04-27 14:54] Kavantix commented on #43
@ChauCM this feature is now included in v0.2.6

[2022-05-02 01:16] SherSahib commented on #11
Was about to open an enhancement request till I saw this. Is there any such functionality like this within the ``sliver_tools`` package?

I have a ``NestedScrollView`` whose ``headerSliverBuilder`` returns a ``SliverPersistentHeader`` and a ``SliverPinnedHeader`` but I want the pinned header to hide when we scroll to the bottom but show itself when we scroll to the top. This is basically the float

[2022-05-16 21:54] MiniSuperDev opened #49 "MultiSliver has unexpected behavior when use centerKey in CustomScrollView"
Hi, I try to create a bidirectional lazy load list like the like flutter docs said
https://github.com/flutter/flutter/blob/5464c5bac742001448fe4fc0597be939379f88ea/packages/flutter/lib/src/widgets/scroll_view.dart#L502-L513

I create a [gist](https://gist.github.com/MiniSuperDev/23cf9e1809ca9dc29d38ecf00a167f06) where you can enable a disable the `MultiSliver`, and you can see that the scroll beha

[2022-05-21 18:28] Kavantix commented on #49
Hi @MiniSuperDev, thanks for reporting this! Could you try making a failing widget test from your example, that would help a lot since I’m a bit swamped atm.

[2022-05-21 19:23] MiniSuperDev commented on #49
hello @Kavantix, thanks, unfortunately I don't know how to do the test widgets at the moment, I still need to learn that, so I couldn't for now, sorry :)

[2022-06-06 17:46] aloisdeniel opened #50 "SliverShaderMask"
I would love to be able to add a shader mask to a `Sliver`, just like what `ShaderMask` does for regular widgets.

I'm not a sliver expert at all, but I tried with this implementation and it seems to work.

[code]

[2022-06-10 22:54] Kavantix commented on #49
@MiniSuperDev thanks again for pointing out the issue and providing the gist.
I fixed it in PR #51 , could you also test it

[2022-06-11 01:17] Kavantix commented on #50
Hey @aloisdeniel,

Looking at the implementation of the normal `ShaderMask` I agree that this implementation should work for most slivers.
I'm just curious if there are usecases where the maskRect needs to be the entire size of the sliver instead of the painted size.

Either way, did you just want feedback or would you like this to be part of `slliver_tools`?

[2022-06-11 01:17] #42 closed

[2022-06-14 02:55] MiniSuperDev commented on #49
@Kavantix hello, I already tried it and it works as expected, good job, thanks.

[2022-07-01 17:29] jpolstre opened #52 "Obsolete example"
Thanks for the plugin, but I could update it, it's been a long time without updating. Thank you.

[2022-07-01 17:37] Kavantix commented on #52
@jpolstre could be a little more specific?

[2022-07-02 21:24] globalwebforce commented on #52
@Kavantix we think you should show an updated full code of the the GIF demo you showed on pub.dev + a working flutter project showcasing all the package features, just like the other flutter packages on pub.dev.

[2022-07-02 22:16] Kavantix commented on #52
@globalwebforce The example code of the GIF should still work.
Any extra examples showing off features are welcome as PR's but it is not something I have time for at the moment.

@jpolstre is that also what you meant?

[2022-07-02 22:18] Kavantix commented on #50
@aloisdeniel gentle reminder :)

[2022-07-04 09:42] rupinderjeet opened #53 "Is there a way to stop/ignore scroll gestures on pinned SliverPinnedHeader?"
When `SliverPinnedHeader` is `pinned`, is there a way to prevent any scroll gestures on it? As of now, scroll gestures cause the `CustomScrollView` to scroll.

[2022-07-04 09:59] Kavantix commented on #53
I haven’t tried it but you can try just having an AbsorbPointer widget inside of the header

[2022-07-08 06:49] rupinderjeet commented on #53
Hello @Kavantix, thank you for the project.

I tried something like this:

[code]

But, it didn't help me. I am able to scroll the page by using scroll gestures on pinned header.

[2022-07-12 20:25] Kavantix commented on #53
Interesting it seems gestures break through an AbsorbPointer.
I did manage to get it working by wrapping the child of the `SliverPinnedHeader` in a `GestureDetector`:

[code]

This captures any horizontal and vertical drags on the header.

[2022-07-17 15:08] rupinderjeet commented on #53
This fixes the issue. Do you think we can add this to documentation of `SliverPinnedHeader` as a tip?

Thank you.

[2022-07-17 15:08] #53 closed

[2022-07-22 10:13] dkbast opened #54 "MultiSliver inside SingleChildScrollView: SliverGeometry is not valid: The "cacheExtent" is negative."
I have a CustomScrollView which needs to be recycled in another part of the app where it is used inside a SingleChildScrollView - in my production app this works as long as I don't have any MultiSliver widgets in the tree (which I use to add sticky headers to categories which are SliverLists).

Code to reproduce the issue:
https://github.com/dkbast/multi_sliver_bug_repro/blob/main/lib/main.dart

I

[2022-07-22 11:29] Kavantix commented on #54
After discussing this a bit offline the root cause it that the CustomScrollView is not constrained in height, it's still up for debate whether or not MultiSliver should support this.
Putting this on low prio for now.

Anyone running into this, please comment here and we can see what can be done.

[2022-08-08 00:29] vodino opened #55 "Add MultiSliver.builder"
Hey @Kavantix, @remonh87,
Please can you add MultiSliver.builder ?

[2022-08-08 05:53] Kavantix commented on #55
@vodino It’s not that simple as I explained here: https://github.com/Kavantix/sliver_tools/issues/44#issuecomment-1096994549

If you have an idea for how the builder would work we can discuss it here.

Otherwise perhaps explaining your usecase could help

[2022-08-08 05:54] #54 closed

[2022-08-08 08:59] manu-sncf opened #56 "MultiSliver with several pinned headers in NestScrollView headerSliverBuilder need overscrolling to overlap"
When I put MultiSliver in `NestedScrollView.headerSliverBuilder` with several pinned headers inside, I need to "overscroll" to begin overlapping the body. The problem doesn't occur with one pinned header.

In the demo, look at the cursor and the shadow beneath the TabBar.

![demo](https://user-images.githubusercontent.com/108678139/183379483-4b4cf901-12ee-4d51-b27b-0151272321eb.gif)

The code :

[

[2022-08-08 09:17] manu-sncf commented on #56
The bug seems to be fixed with this patch :

[code]

[2022-08-10 08:40] LGang opened #58 "FlutterException: Null check operator used on a null value"
Stack:
[code]

[2022-08-10 08:42] Kavantix commented on #58
@LGang can you add some more information on what and when you run into this exception?

[2022-08-10 08:44] LGang commented on #58
Online logs are reported up and cannot be reproduced

[2022-08-10 08:46] LGang commented on #58
Partial code
[code]

[2022-08-10 10:08] Kavantix commented on #58
Which version of sliver_tools are you using?

[2022-08-11 06:52] LGang commented on #58
0.2.7

[2022-08-22 20:21] koiralapankaj7 commented on #20
This might be another use case where SliverPinnedFooter makes sense. I want to pin the Total row at the bottom but as of now without using shrinkWrap I am not being able to do so. Is there any better way to achieve this behaviour?

![image](https://user-images.githubusercontent.com/19282888/186010711-3b01a451-d895-4e73-bd30-a85d36be86c0.png)

[code]

[2022-09-02 06:32] Kavantix commented on #56
Sorry for the late response but good catch!
I believe that solution is indeed correct but will have to do a little more testing in the weekend.

[2022-09-03 22:33] Kavantix commented on #20
@volser @koiralapankaj7 I just opened a draft PR #59 that should serve your needs. I would like some feedback if you have time to test it :)

[2022-09-03 23:42] Kavantix commented on #56
From my testing the change does seem to improve some scenarios, however your test scenario provided in the original comment still behaves weirdly.
However, that is probably just because of the NestedScrollView.

[2022-09-03 23:54] Kavantix commented on #56
Ok the weird behaviour that is left is because `SliverPersistentHeader` doesnt handle overlap correctly (see flutter/flutter#91256)

[2022-09-04 16:17] Kavantix commented on #58
@LGang I'v taken a look at what is crashing.
This error means that a sliver child of the SliverStack did not set its geometry after layout, that's not a good thing and not a fault of this package.

I'll add an assert for this case in an upcoming release though!

[2022-09-04 16:25] #58 closed

[2022-09-04 18:20] manu-sncf commented on #56
You are right, in fact, the fix work if SliverAppBar is first. I inverted the SliverAppBar with SliverPinnedHeader, my mistake

Here is the code that reproduce the problem and the fix of the PR which works fine without weird behavior.

[code]

The bug https://github.com/flutter/flutter/issues/91256 as you mentioned is confirmed if SliverAppBar is not first in the list.

[2022-09-05 15:17] koiralapankaj7 commented on #20
@Kavantix Thank you so much for this update. I just tested it and it is working perfectly fine. I have one suggestion:

1. Footer should push pinned children if there are any.

[2022-09-05 15:19] Kavantix commented on #20
Great to hear it works!
But can you elaborate a bit on the question?

[2022-09-05 15:22] #56 closed

[2022-09-05 15:25] koiralapankaj7 commented on #20
https://user-images.githubusercontent.com/19282888/188480667-6792e01c-6f90-4503-9baf-0238ddddde70.mov

In this video, the footer is going below the header while scrolling. What I meant was can we push the header when the footer reaches there? (header in this context is SliverPinnedHeader.)

[2022-09-05 15:34] Kavantix commented on #20
You can try wrapping the multisliver with the sliverwithpinnedfooter

[2022-09-05 15:39] koiralapankaj7 commented on #20
![image](https://user-images.githubusercontent.com/19282888/188482974-226eae3d-ea08-411b-b6e9-da6e8f58ffe8.png)

If I am using MultiSliver correctly, it seems like it is not working for SliverWithPinnedFooter.

[2022-09-05 15:43] Kavantix commented on #20
Well I meant try using it like this:

[code]

[2022-09-05 15:44] koiralapankaj7 commented on #20
![image](https://user-images.githubusercontent.com/19282888/188483671-ad889285-5e8a-4a34-b47e-c54a63ab77c9.png)

If I use MultiSliver inside SliverWithPinnedFooter then the footer is behaving quite differently. If you need I will attach a video as well.

[2022-09-05 15:45] Kavantix commented on #20
video would be helpful

[2022-09-05 15:47] koiralapankaj7 commented on #20
https://user-images.githubusercontent.com/19282888/188484086-f29e68f3-3530-4a7a-bf6a-cd20bf61c7aa.mov

If you notice at the bottom. Footer appears before the header.

[2022-09-05 16:00] Kavantix commented on #20
Hmmm, supporting this might require the widget to be changed to `SliverWithPinnedFooterAndHeader`
I'll have to think about it a bit more

[2022-09-05 16:05] #50 closed

[2022-09-05 16:07] Kavantix commented on #36
Decided this will not be part of the package since I don't see a usecase.
If anyone does see a usecase feel free to comment and I'll gladly discuss and/or reopen

[2022-09-05 16:07] #36 closed

[2022-09-05 16:08] Kavantix commented on #52
Updated the example to flutter 3.3

[2022-09-08 20:00] #55 closed

[2022-09-29 16:10] ABausG commented on #11
I actually use this to achieve a certain behaviour. Regarding your questions I think it already behaves like I would expect it.

Regarding your questions

If all FloatingHeader are in a Group of PersistentHeaders (Pinned, Floating) In that case the FloatingHeader should scroll away but not be effecting by Overscroll Effects when dragging down For example

If there is a non persistent Sliver betwee

[2022-10-01 19:21] papmodern opened #62 "Wrong calculations for multiple pinned SliverPersistentHeader inside a NestedScrollView"
I had a section in my app which contains a appbar a top section and tab bar which all of them are implemented with `NestedScrollView` and `MultiSliver`. It was working fine but it came up problematic after I removed my `pubspec.lock` file.

Recent problem:
![image](https://user-images.githubusercontent.com/5563687/193424812-5abaaeef-7fca-4a49-a725-0b9c4a9ab4b0.png)

Previously correct behavior
![i

[2022-10-01 19:39] Kavantix commented on #62
Hi @papmodern thanks for opening an issue!
It would be helpful if you could provide a minimal example that reproduces the problem.

In 0.2.8 I fixed #56 which was also related to NestedScrollView, could you test with 0.2.7 to see if that’s what caused this?

[2022-10-03 13:23] papmodern commented on #62
It is working fine with `0.2.7` too. The bugs is specified only to `0.2.8` version

This is a sample code to demonstrate the problem:

[code]

[2022-10-04 10:14] Kavantix commented on #62
@papmodern are you sure that the problem that existed in #56 is not occurring for you before 0.2.8 (because in my testing it does).
The underscroll bug is actually a bug in flutter itself: flutter/flutter#110937

Either way I would recommend not to use a NestedScrollView, you can implement the example above without it. Note that the behaviour there is also not what you would like to have.
[code]

[2022-10-04 10:35] Kavantix commented on #62
Also, `SliverAppBar` doesnt actually have any code to support multiple pinned ones that can collapse so I would suggest opening an issue in the flutter repo for that

[2022-10-05 09:49] aloisdeniel commented on #45
We could have a `CrossAxisFlexibleSliver` with a `flex` property which indicates how much space it should take along the cross axis (just like `Flexible` for `Flex`).

If a child sliver must fill the cross axis space then a child could simply have a default flex value of `1` if not precised by a `CrossAxisFlexibleSliver`.

[2022-10-06 10:44] papmodern commented on #62
@Kavantix In the real app I faced the problem, I have tab bar and tab bar view and each tab has its own scrollview. So I have to use NestedScrollView. The code I wrote for you is only for demonstrating the problem. Even SliverOverlapAbsorber is not necessary here and if you remove just this one, everything works fine.
I tried several times and for me it only happens with 0.2.8. I check the version

[2022-10-09 08:38] ZhZhZhen opened #63 "How to create a listView, which children is sliver"
in the usage example. The number of Sections is fixed.
 if the number is unlimited, how to create a widget

[2022-10-09 08:42] #63 closed

[2022-10-11 07:05] cgestes commented on #44
Same as it is but with a builder pattern, like Listview.builder.

it's possible I am missing a part of the puzzle and what I want to achieve
is not possible like that :')

On Fri, Mar 11, 2022 at 9:19 PM Pieter van Loon ***@***.***>
wrote:

[2022-10-11 10:38] Kavantix commented on #44
@cgestes perhaps I can help come up with a solution for your specific problem, I still feel a builder version of MultiSliver is not possible with the current flutter implementation of Slivers

[2022-10-11 11:23] cgestes commented on #44
I believe it is ok to leave it closed :)

I have not enough context any more to provide any useful information.

I dont even remember how I sorted out my issue in the end.

Thank you @Kavantix .

[2022-10-14 09:23] balaji101010 opened #64 "does it increase the performance like the default slivers?"
Instead of Listview inside Listview. we have used CustomScrollview -> SliverList , SliverList for better performance.

Does this library perform same as slivers or it affect the performance of the app
?

[2022-10-14 10:44] Kavantix commented on #64
@balaji101010 can you elaborate a bit, I’m not entirely sure what your question is

[2022-10-14 14:38] balaji101010 commented on #64
Can I use this library and get same performance as default slivers? @Kavantix

[2022-10-14 16:50] Kavantix commented on #64
It should, depending on how you use it of course

[2022-10-16 06:21] logic-and-math opened #65 "SliverAppBar with expanded height dependent on the children"
Hi, thank you for the package!

Is it possible to achieve a pinned silverappbar with the height depending on its children with this package?

What I am trying to achieve is the first example on here: https://api.flutter.dev/flutter/widgets/NestedScrollView-class.html but such that the appbar is some widget whose height is unknown(and a tabbar on the bottom) until layout/render. I know the height o

[2022-10-21 20:59] marcoredz commented on #11
I tried the example in the gist of tomaszpolanski and for me it actually works well.
In fact I merged the SliverPinnedHeader of this package and the code of that gist and created an hybrid that takes a parameter named `floating` that triggers the floating behavior.
I used it in a real scenario with the first sliver header set as floating and the second one pinned (without setting `floating: true`)

[2022-10-22 07:05] Kavantix commented on #11
@marcoredz I took a quick look at your implementation and it looks like a good starting point.
You can open a PR for it if you want

[2022-10-22 08:49] marcoredz commented on #11
@Kavantix what do you suggest between: taking the existing SliverPinnedHeader and editing it, or creating a new widget?

[2022-10-22 08:55] Kavantix commented on #11
I would create a new one for this

[2022-11-19 15:58] Nedimko123 commented on #55
Maybe just use a for loop although not memory efficient, just wanna say thanks @Kavantix for this awesome package, really needed the MultiSliver feature ;)